/* Warm & Cozy Design */

/* Body styles */
body {
  font-family: 'Georgia', serif;
  background-color: #fdf6e3;
  
  color: #657b83;
}

/* Header styles */
header {
  background-color: #eee8d5;
  padding: 20px 0;
  text-align: center;
  color: #586e75;
  font-size: 24px;
  font-weight: bold;
}

/* Navigation styles */
nav {
  background-color: #b58900;
  padding: 10px 0;
  text-align: center;
}

nav a {
  color: #fdf6e3;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 16px;
}

main {
  margin: 20px auto;
  background-color: #eee8d5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form styles */
label, input, button {
  font-family: 'Georgia', serif;
}

label {
  color: #586e75;
}

input, button {
  background-color: #fdf6e3;
  border: 2px solid #93a1a1;
  color: #586e75;
}

button {
  background-color: #cb4b16;
  
  color: #fff;
  border: none;
}

button:hover {
  background-color: #e3d7d7;
  border: 2px solid #93a1a1;
  color:#0d0303;
}
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 16px;
  border-radius: 8px;
  overflow-x: auto; /* Add horizontal scroll for small screens */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

th, td {
  border: 1px solid #0d0303;
  padding: 5px;
}

th {
  background-color: #eff1ec;
  color: #170808;
}

td {
  background-color: #f6eeee;
  color:black;
}

.table-responsive {
  overflow-x: auto; /* Enable horizontal scroll */
  overflow-y: auto; /* Enable vertical scroll if needed */
  max-height: 400px; /* Adjust based on your preference for height */
  border: 1px solid #ccc; /* Optional: adds a border around the scrollable area */
  margin-bottom: 20px;
  border-radius: 8px; /* Optional: if you want rounded corners */
}


/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  main, input, button {
    width: 90%;
  }
}
